<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/monopoly.js}"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../../css.monopoly.css" th:href="@{/css/monopoly.css}" />
    <title>Home</title>
</head>

<body>

    <div class="container">

        <h1 class="text-center">Home page Monopoly <span><img th:src="@{/images/monopoly.png}" style="width:50px;"/></span></h1>

        <h2 class="text-center mt-3" th:utext="'Benvenuti nel nostro <b>fantastico</b> gioco del Monopoly!'"></h2>

        <div class="row mt-5">
            <div class="col">
                <form action="#" th:action="@{/}" th:object="${form}" method="post">

                    <div class="row mt-3">
                        <label class="col-sm-4 form-label">Inserire il nome del giocatore</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" th:field="*{nome}" th:value="${nome}" th:name="'nome'" th:id="'nome'" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label class="col-sm-4 form-label">Scegliere un segnalino (tra quelli disponibili)</label>
                        <div class="col-sm-4">
                            <select class="form-select" th:field="*{segnalino}">
                                <option th:each="segnalinoScelto : ${segnalini}"
                                        th:value="${segnalinoScelto.value}" th:text="${segnalinoScelto.label}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Aggiungi giocatore</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="segnalinoSelezionato">
            <p th:text="${segnalinoSelezionato}"></p>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div th:utext="'Numero di dadi: ' + ${dadi}"></div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-sm-4">
                <th:block th:if="${nomeGiocatoreAggiunto != null}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Giocatore 1</h5>
                            <p class="card-text nome" th:utext="'Nome: <b>' + ${nomeGiocatoreAggiunto} + '</b>'"></p>
                            <p class="card-text portafoglio" th:utext="'Portafoglio: <b>' + ${portafoglioPrimoGiocatoreAggiunto} + '€</b>'"></p>
                            <p class="card-text segnalino" th:utext="'Segnalino: <b>' + ${segnalinoScelto} + '</b>'"></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <button type="button" class="btn btn-success" id="lancio-dadi-button" th:onclick="lanciaDadi();">Lancia dadi <span><img th:src="@{/images/dadi.png}" style="width:50px;"/></span></button>
        <a class="btn btn-danger" id="reset-button" href="/resettaPartita">Resetta partita</a>

        <div class="container tabellone"></div>
            <div class="grid mt-5">
                <div class="g-col">
                    <th:block th:each="casella : ${caselle}" style="height: 100px; width: 100px; position: relative;">
                        <div class="casella" th:id="'casella_' + ${casellaStat.index}" style="text-align: center; position: relative;">
                            <span th:text="${casella.testo}"></span>
                            <div> </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>


            
        
    </div>

</body>
</html>
